__pycache__/
*.pyc

# Downloaded videos and extracted features
data/**/*.mp4
extracted_features/**/*.npy

# Plots written by tools/indomain_generalization_split_generator.py
splits/indomain_generalization/**/*.png
